@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-header: var(--font-integral);
  /* --breakpoint-xl: 90rem;
  --container-xl: 90rem; */
  /* --breakpoint-lg: 77.5rem;
  --container-lg: 77.5rem;
  --breakpoint-md: 77.5rem;
  --container-lg: 77.5rem; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi);
}
